<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body bgcolor="#EBEDEF">
    <header>
        <img src="images/LogoML.jpg" alt="Logo de Mercado Liebre" width="450" height="150">
        <div style="text-align: left;">
            <input type="text" placeholder="Buscar aquí...">
            <strong>
                <h3>Comprá en cuotas y sin tarjeta de crédito</h3>
            </strong>
        </div>
        <ul type="Circle">
            <li>Ofertas</li>
            <li>Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li><br>
            <li>Creá tu cuenta</li>
            <li>Ingresá</li>
            <li>Mis compras</li>
            <img src="images/banner.jpg" alt="Banner" width="1250" height="250">
        </ul>
    </header>
    <main>
        <table>
            <tr>
                <td>
                    <h3>Basado en tu última visita</h3>
                    <br>
                    <img src="images/cafetera.jpg" alt="Cafetera" width="300" height="300">
                    <ul>$6.770</ul>
                    <ul>40% OFF</ul>
                    <ul>Cafetera Moulinex</ul>
                </td>
                <td>
                    <img src="images/MacBook.jpg" alt="MacBook" width="350" height="250">
                    <ul>$230.000</ul>
                    <ul>20% off</ul>
                    <ul>MacBook Pro 2019</ul>
                </td>
                <td>
                    <img src="images/SamsungGalaxy.jpg" alt="Samsung Galaxy S10" width="300" height="300">
                    <ul>$70.500</ul>
                    <ul>10% off</ul>
                    <ul>Samsung Galaxy S10</ul>
                </td>
                <td>
                    <img src="images/SmartTvSamsung43.jpg" alt="SmartTv Samsung 43" width="350" height="250">
                    <ul>$23.200</ul>
                    <ul>5% off</ul>
                    <ul>SmartTv Samsung 43"</ul>
                </td>
            </tr>
        </table>
    </main>
    <footer>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        <h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>

    </footer>
</body>

</html>